<launch>
    <!-- 读取命令行参数 use_analytic，默认为false -->
    <arg name="use_analytic" default="false" />

    <!-- 将参数发布到ROS参数服务器 -->
    <param name="use_analytic" value="$(arg use_analytic)" />

    <!-- 启动filtered_regressor包中的sim_regressor节点 -->
    <node pkg="filtered_regressor" type="sim_regressor" name="sim_regressor" output="screen" />
</launch>